__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.pyo
venv/
env/
ENV/
.venv/
.env/
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
.ipynb_checkpoints/
*.log
.pytest_cache/
.mypy_cache/
*.code-workspace
*.csv
